<form #barForm="ngForm" (ngSubmit)="false" class="form-group clearfix">
  <h4>Progress Bar Gen</h4>
  <input type="text" class="form-control mb-2" name="progress-bar-text"
         placeholder="(enter text here; split items with commas ',')"
         [(ngModel)]="progressBarText"
         (keyup)="parsePillInput()"
         autocomplete="on"
         required
         #progressBarInput>

  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <label class="input-group-text" for="progress-bar-color-select">Select progress bar color</label>
    </div>
    <select id="progress-bar-color-select"
            class="form-control"
            name="progress-bar-color"
            [(ngModel)]="progressBarColor">
      <option [value]="'primary'">primary</option>
      <option [value]="'secondary'">secondary</option>
      <option [value]="'success'">success</option>
      <option [value]="'danger'">danger</option>
      <option [value]="'warning'">warning</option>
      <option [value]="'info'">info</option>
      <option [value]="'light'">light</option>
      <option [value]="'dark'">dark</option>
      <option [value]="'salmon'">salmon (custom)</option>
    </select>
  </div>

  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <label class="input-group-text" for="progress-bar-size">Select progress bar size (0.01-5.00)</label>
    </div>
    <input type="number" id="progress-bar-size"
           class="form-control"
           step="0.01" min="0.01" max="5"
           name="progress-bar-size"
           [(ngModel)]="progressBarSize"
           #progress barSizeInput>
  </div>

  <input id="progress-bar-split"
         type="checkbox" aria-label="Checkbox for whether to split"
         [checked]="progressBarSplit" (change)="progressBarSplit = !progressBarSplit">
  <label for="progress-bar-split">Split result into individual images?</label>

  <button type="submit" class="btn btn-success float-right mr-2"
          [disabled]="!barForm.valid"
          (click)="barForm.valid ? screenshot('progress-bar-gen', progressBarSplit, progressBarGenPreview) : false">
    Screenshot
  </button>
  <br>
</form>

<!--Preview-->
<div class="card mb-2" style="">
  <div class="card-body">
    <h6 class="card-title" style="color:#1d2124">Preview (color: {{progressBarColor}})</h6>
    <!--need to keep style constant for .gen-preview and .gen-output-->
    <div id="progress-bar-gen-preview" class="gen-preview"
         [ngStyle]="{'zoom':progressBarSize}" #progressBarGenPreview>
        <span *ngFor="let bar of progressBarsArray; let i = index"
              class="mr-2 badge badge-pill badge-{{progressBarColor}}"
              [class.mr-2]="i < progressBarsArray.length-1"
              style="font-weight:normal">
          {{bar}}
        </span>
    </div>
  </div>
</div>

<!--Result-->
<div class="card" style="">
  <div class="card-body">
    <h6 class="card-title" style="color:#1d2124">Result</h6>
    <div id="progress-bar-gen-output" class="gen-output"></div>
  </div>
</div>
