<form #pillForm="ngForm" (ngSubmit)="false" class="form-group clearfix">
  <h4>Pill Shape Gen</h4>
  <input type="text" class="form-control mb-2" name="pill-shape-text"
         placeholder="(enter text here; split items with commas ',')"
         [(ngModel)]="pillShapeText"
         (keyup)="parsePillInput()"
         autocomplete="on"
         required
         #pillShapeInput>

  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <label class="input-group-text" for="pill-shape-color-select">Select pill color</label>
    </div>
    <select id="pill-shape-color-select"
            class="form-control"
            name="pill-shape-color"
            [(ngModel)]="pillShapeColor">
      <option [value]="'primary'">primary</option>
      <option [value]="'secondary'">secondary</option>
      <option [value]="'success'">success</option>
      <option [value]="'danger'">danger</option>
      <option [value]="'warning'">warning</option>
      <option [value]="'info'">info</option>
      <option [value]="'light'">light</option>
      <option [value]="'dark'">dark</option>
      <option [value]="'salmon'">salmon (custom)</option>
    </select>
  </div>

  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <label class="input-group-text" for="pill-shape-size">Select pill size (0.01-5.00)</label>
    </div>
    <input type="number" id="pill-shape-size"
           class="form-control"
           step="0.01" min="0.01" max="5"
           name="pill-shape-size"
           [(ngModel)]="pillShapeSize"
           #pillSizeInput>
  </div>

  <input id="pill-shape-split"
         type="checkbox" aria-label="Checkbox for whether to split"
         [checked]="pillShapeSplit" (change)="pillShapeSplit = !pillShapeSplit">
  <label for="pill-shape-split">Split result into individual images?</label>

  <button type="submit" class="btn btn-success float-right mr-2"
          [disabled]="!pillForm.valid"
          (click)="pillForm.valid ? screenshot('pill-shape-gen', pillShapeSplit, pillShapeGenPreview) : false">
    Screenshot
  </button>
  <br>
</form>

<!--Preview-->
<div class="card mb-2" style="">
  <div class="card-body">
    <h6 class="card-title" style="color:#1d2124">Preview (color: {{pillShapeColor}})</h6>
    <!--need to keep style constant for .gen-preview and .gen-output-->
    <div id="pill-shape-gen-preview" class="gen-preview"
         [ngStyle]="{'zoom':pillShapeSize}" #pillShapeGenPreview>
        <span *ngFor="let ps of pillShapesArray; let i = index"
              class="mr-2 badge badge-pill badge-{{pillShapeColor}}"
              [class.mr-2]="i < pillShapesArray.length-1"
              style="font-weight:normal">
          {{ps}}
        </span>
    </div>
  </div>
</div>

<!--Result-->
<div class="card" style="">
  <div class="card-body">
    <h6 class="card-title" style="color:#1d2124">Result</h6>
    <div id="pill-shape-gen-output" class="gen-output"></div>
  </div>
</div>
